{% extends 'base.html' %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}IMTrello - Edit task{% endblock %}


{% block page_content %}
    <div class="row justify-content-center mt-3">
        <div class="col-md-8">
            <div class="card shadow">
                <h5 class="card-header text-center">Edit the task</h5><br>
                <div class="card-body">
                    {{ wtf.quick_form(update_task_form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}